WAAccept>>fromString: assumes the only parameter to a media-range is 'q'

```
Section 14.1 in RFC 2616 ( http://tools.ietf.org/html/rfc2616#section-14.1 ) 
explicitly gives the following example of an accept header:

       Accept: text/*;q=0.3, text/html;q=0.7, text/html;level=1,
               text/html;level=2;q=0.4, */*;q=0.5

In Seaside 3.0.7.1, WAAccept>>fromString: does not read the parameters 
correctly:

    x := (WAAccept fromString: 'text/*;q=0.3, text/html;q=0.7, text/html;level=1, text/html;level=2;q=0.4, */*;q=0.5').
    x fourth quality. "Returns 2.0 rather than 0.4 as expected."
    x fourth value parameters. "Returns an empty dictionary rather than one mapping 'level' to 2 as expected."

```

Original issue reported on code.google.com by `k...@yesplan.be` on 12 Apr 2013 at 8:54
