WAFastCGIRequestConverter>>#requestUrlFor: signals a WAInvalidUrlSyntaxError when the ‘REQUEST_URI’ is ‘/?://’

When the ‘REQUEST_URI’ parameter is `/?://` in [`WAFastCGIRequestConverter>>#requestUrlFor:`](https://github.com/SeasideSt/Seaside/blob/7d0ccbd436f4e7489f3ae847dcfe398ee5a2181d/repository/Seaside-Adaptors-FastCGI.package/WAFastCGIRequestConverter.class/instance/requestUrlFor..st), a WAInvalidUrlSyntaxError is signaled, although `/?://` is a valid ‘origin-form’ per [section 3.2.1 in RFC 9112](https://www.rfc-editor.org/rfc/rfc9112.html#name-origin-form).

The relevant rules from [RFC 9112](https://www.rfc-editor.org/rfc/rfc9112.html#appendix-A), [RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html#appendix-A) and [RFC 3986](https://www.rfc-editor.org/rfc/rfc3986.html#appendix-A) are:

```abnf
origin-form   = absolute-path [ "?" query ]

absolute-path = 1*( "/" segment )

segment       = *pchar

query         = *( pchar / "/" / "?" )

pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"
```